<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>productos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button deafultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 

 <ion-list>
  <ion-list-header>
    <h2>Productos</h2>
  </ion-list-header>

 <ion-item>
    <ion-avatar slot="start">
      <img src = "assets/mokafrioreo.jpg" />
    </ion-avatar>
    <ion-label>
      <h2><b>Frappé Moka FriOreo</b></h2>
      <h4><b>Grande:</b> $95.00 pesos</h4>
      <h4><b>Chico:</b> $86.00 pesos</h4>
    </ion-label>
    <ion-button expand="block" fill="outline">
      Agregar
    </ion-button>
 </ion-item>


 <ion-item>
  <ion-avatar slot="start">
    <img src = "assets/capucajeta.jfif" />
  </ion-avatar>
  <ion-label>
    <h2><b>Frappé Cappuchino Cajeta</b></h2>
    <h4><b>Grande:</b> $95.00 pesos</h4>
    <h4><b>Chico:</b> $86.00 pesos</h4>
  </ion-label>
  <ion-button expand="block" fill="outline">
    Agregar
  </ion-button>
</ion-item>



<ion-item>
  <ion-avatar slot="start">
    <img src = "assets/mokablanco.jpg" />
  </ion-avatar>
  <ion-label>
    <h2><b>Frappé Moka Blanco</b></h2>
    <h4><b>Grande:</b> $95.00 pesos</h4>
    <h4><b>Chico:</b> $86.00 pesos</h4>
  </ion-label>
  <ion-button expand="block" fill="outline">
    Agregar
  </ion-button>
</ion-item>


 </ion-list>

</ion-content>