<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-background">
  <div class="login-container">
    <!-- Formulario de Login -->
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Accede a tu cuenta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>

          <!-- Mensaje de error -->
          <ion-text color="danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </ion-text>

          <ion-button expand="block" type="submit" color="primary">Iniciar Sesión</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <!-- Opción de registro -->
    <ion-button expand="block" color="secondary" routerLink="/registro">Crear una cuenta</ion-button>
  </div>
</ion-content>
