.home-background {
  --background: #ffffff; // Ajusta el color de fondo si es necesario
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.login-card {
  width: 100%; // Ancho completo del contenedor
  max-width: 400px; // Limita el ancho en pantallas más grandes
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Añade sombra para darle algo de profundidad
}

.login-image {
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

ion-card-title {
  text-align: center;
  font-size: 1.4rem;
}

ion-item {
  --highlight-height: 2px;
  margin-bottom: 10px;
}

ion-text {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
}

// Añadir media queries para ajustar el diseño en pantallas más pequeñas
@media (max-width: 768px) {
  .login-card {
    padding: 15px;
    margin: 15px;
  }

  .login-image {
    max-width: 150px;
  }

  ion-card-title {
    font-size: 1.2rem;
  }
}
